@font-face {
    font-family: 'TT Lakes';
    src: url('../../../../Desktop/KATA_web_core/src/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakes-Bold.woff') format('woff'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../../../../Desktop/KATA_web_core/src/fonts/TTLakesCondensed-Regular.eot');
    src: local('TT Lakes Condensed Regular'), local('TTLakesCondensed-Regular'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakesCondensed-Regular.woff') format('woff'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../../../../Desktop/KATA_web_core/src/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakes-Medium.woff') format('woff'),
    url('../../../../Desktop/KATA_web_core/src/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
