.title-article {
  display: flex;
  width: 100%;
  padding: 16px;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  border-top: 1px solid #D9FFF5;

  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.2px;
  text-transform: uppercase;

  color: #7E7E82;
}

@media screen and (min-width: 768px){
  .title-article {
    padding-left: 28px;
  }
}
